<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<h1>Update Question</h1>
<form class="form" method="post" th:object="${question}">
    <input type="text" class="input" placeholder="Question text" th:field="*{questionText}">
    <input type="text" class="input" placeholder="Answer 1" th:field="*{answerOptions[0].answerText}">
    <input type="text" class="input" placeholder="Answer 2" th:field="*{answerOptions[1].answerText}">
    <input type="text" class="input" placeholder="Answer 3" th:field="*{answerOptions[2].answerText}">
    <input type="submit" class="submit" value="Update question">
</form>
</body>
</html>